use Mix.Config

config :thumbifier, Thumbifier.Endpoint,
  secret_key_base: "6a5KGU5Z1u2XYJMtOzPllbD8Xt3jtKXgBt+sjtd/bmNIgrXL4BYsM3lctPRwoI0v"

config :thumbifier, Thumbifier.Repo,
  adapter: Ecto.Adapters.Postgres,
  hostname: System.get_env("ENV_THUMBIFIER_DB_HOSTNAME"),
  port: System.get_env("ENV_THUMBIFIER_DB_PORT") |> String.to_integer,
  database: "TODO",
  username: "TODO",
  password: "TODO"
