use Mix.Config

config :thumbifier,
  poolboy_size: 2,
  poolboy_max_overflow: 1,
  max_file_size: 1000000000
  usage_reset_timeout: 1

config :thumbifier, Thumbifier.Endpoint,
  secret_key_base: "TODO"

config :thumbifier, Thumbifier.Repo,
  adapter: Ecto.Adapters.Postgres,
  hostname: "localhost",
  port: 5432,
  database: "TODO",
  username: "TODO",
  password: "TODO"

config :thumbifier, Thumbifier.Util.Email,
  hostname: "",
  username: "",
  password: "",
  port: 587,
  from: "noreply@thumbify.me"
