use Mix.Config

config :thumbifier, Thumbifier.Endpoint,
  secret_key_base: "TODO"

config :thumbifier, Thumbifier.Repo,
  adapter: Ecto.Adapters.Postgres,
  hostname: "localhost",
  port: 5432,
  database: "TODO",
  username: "TODO",
  password: "TODO"
